.App {
  margin: auto;
  width: 50%;
}

.balloon-container {
  display: inline-block;
  padding: 10px;
}

.balloon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
